body {
    font-family: sans-serif;
    background: 
    url(/uploads/2021/01/fish2_0_1610653588.svg) 50% 40%,
    url(/uploads/2021/01/fish1_0_1610653588.svg)  70% 90%,
    url(/uploads/2021/01/coral_0_1610653588.svg) 90% 70%;
color: rgb(248, 240, 240);
   
}
h1{
    background-color: rgb(35, 165, 56);
    width: 500px;
}

h2{
    background-color: rgb(35, 165, 56);
    width: 100px;
}

p{
    background-color: rgb(35, 165, 56);
}

img{
    width: 500px;
}
.asd{
    width: 80px;
    
}

a{
    background-color: rgb(210, 223, 31);
    color: black;
    border: 1px black solid ;
    border-radius: 5px;
    padding: 3px;
    text-decoration: none;
}

header{
    background-color: aquamarine;
    margin: 0px;
    padding: 10px;
}

.fljj{
   display: flex;
    justify-content: space-around; 
}

nav{
    display: flex;
    justify-content: space-around; 
}

footer{
    background-color: aquamarine;
    margin: 0px;
    padding: 10px;
}
